/*
General styles
*/
body {
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
    width: 100%;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

/*
Typography
*/
* {
    font-family:  system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #ECEFF4;
}

.banner span {
    font-size: 1.4rem;
    font-weight: 600;
}

.links-wrapper a {
    font-size: 1.1rem;
}

.about-section-title h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.about-section p {
    font-size: 1rem;
}

.section-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.project-date {
    font-size: 0.9rem;
    color: #5E81AC;
}

.project-title {
    font-size: 1.1rem;
    font-weight: 700;
}

.project-description {
    font-size: 0.9rem;
    color: #D8DEE9;
}

.card-links a {
    font-size: 0.9rem;
}

.now-section-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.now-section-header p {
    font-size: 1rem;
    font-weight: 600;
    color: #a1a1aa;
}

.blog-section-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.segment h2 {
    font-size: 2rem;
    font-weight: 700;
}

.post a {
    font-size: 1.1rem;
    font-weight: 500;
}

.post span {
    color: #5E81AC;
}

footer p {
    font-size: 0.8rem;
}

.now-section-content span {
    font-size: 0.8rem;
    color: #a1a1aa
}

/*
Colours
*/
body {
    background-color: rgb(46, 52, 64);
}

/*
Images
*/

/*
Header
*/
header {
    width: 100%;
    padding: 40px 0 40px 0;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
}

.banner img, span {
    display: inline;
}

.banner img {
    margin-right: 3%;
}

.banner span {
    white-space: nowrap;
}

nav {
    display: flex;
    align-items: center;
}

.links-wrapper {
    white-space: nowrap;
}

.links-wrapper a {
    margin-left: 16px;
    padding: 8px;
    border-radius: 5px;
}

.links-wrapper a:hover {
    background-color: #4C566A;
}

.toggle-theme {
    margin-left: 15px;
}

.toggle-theme button {
    background: none;
	border: none;
    padding: 5px;
    border-radius: 5px;
}

.toggle-theme button:hover {
    cursor: pointer;
    background-color: #4C566A;
}

/*
About me section
*/
.about-section {
    max-width: 800px;
}

.about-section-title {
    margin-bottom: 10px;
}

.about-section p {
    margin-bottom: 15px;
}

/*
Projects section 
*/
.projects-section {
    max-width: 800px;
}

.section-header {
    margin-bottom: 40px;
}

.projects-preview {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card {
    margin-bottom: -28px;
    width: 49%;
    height: 220px;
    background-color: #3B4252;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 20px;
}

.project-title {
    margin-bottom: 5px;
}

.project-description {
    margin-bottom: 10px;
}

.card-links a {
    font-size: 0.9rem;
    padding: 6px;
    background-color: #2E3440;
    border: 1px solid #2E3440;
    border-radius: 5px;
    margin-right: 2px;
}

.card-links a:hover {
    border: 1px solid #5E81AC;
}

/*
Now section
*/
.now-section {
    max-width: 800px;
}

.now-section-header {
    margin-bottom: 20px;
}

.now-section-header p {
    margin-top: -8px;
}

.now-section-content p {
    margin-bottom: 15px;
}

/*
Blog section
*/
.blog-section {
    max-width: 800px;
    flex: 1;
}

.blog-section-header {
    margin-bottom: 40px;
}

.segment h2 {
    margin-bottom: 20px;
}

.post {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3B4252;
    padding: 4px 0 4px 0;
}

.post a:hover {
    text-decoration: underline;
}